.vscode/
.JSPTH/__pycache__/
.JSPTH/calc/__pycache__/
.JSPTH/calc/analitics/__pycache__/
.JSPTH/calc/figures/__pycache__/
.JSPTH/calc/figures/area/__pycache__/
.JSPTH/calc/figures/diagonals/__pycache__/
.JSPTH/calc/figures/perimeter/__pycache__/
.JSPTH/calc/figures/volume/__pycache__/
.JSPTH/calc/topology/__pycache__/
.JSPTH/calc/console/__pycache__/
.JSPTH/calc/physics/__pycache__/
.JSPTH/calc/physics/thermodynamics/__pycache__/
.JSPTH/calc/physics/mechanics/__pycache__/
.JSPTH/calc/physics/electrodynamics/__pycache__/
.JSPTH/calc/physics/optics/__pycache__/
.JSPTH/calc/physics/quantum/__pycache__/
.JSPTH/calc/physics/power/__pycache__/
.JSPTH/calc/physics/electrics/__pycache__/
.__pycache__/